.idea
ops/nginx/ModSecurity
ops/nginx/nginx-1.26.2.tar.gz
../.DS_Store
.DS_Store
ops/nginx/v4.12.0.tar.gz
ops/nginx/coreruleset-4.12.0.tar.gz.asc
ops/nginx/coreruleset-4.12.0
api/gen
api/vendor
bin
.bin
.devspace
ops/.secrets
api/buf_auth_token
podman-build-*